* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Patrick Hand", sans-serif;
}
body {
  padding: 0 16px;
  background-color: #ccae62;
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
}
header {
  background-color: #242411;
  background-image: url("https://www.transparenttextures.com/patterns/rice-paper-2.png");
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #f7f1e3;
  font-family: "Special Elite", cursive;
  font-weight: 200;
  font-size: 3rem;
}
h2 {
  color: #dcd3b8b1;
  font-size: 2rem;
  font-family: "Coming Soon", sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 2rem;
}

footer p {
  color: #4b4b4b;
}
.note {
  background-color: #f7f1e3;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 10px 20px 50px;
  float: left;
}
.note h1 {
  font-size: 1.5em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.5em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #0f0209;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color: #f7f1e3;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #f7f1e3;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.9em;
  font-family: inherit;
  resize: none;
  background: #f7f1e3;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #565342;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
